<h1 ng-init="getAll()">EVENT MANAGEMENT</h1>

<div class="col-md-7">


<div class="row">
  <div class="col-md-12">
    <table ng-table="tableParams" class="table table-bordered table-hover table-condensed editable-table " ng-form="tableForm" disable-filter="isAdding" user-tracked-table="tableTracker">
      <colgroup>
        <col width="10%" />
        <col width="20%" />
        <!-- <col width="30%" />
        <col width="30%" /> -->
        <col width="10%" />
      </colgroup>
      <tr ng-repeat="row in $data" ng-form="rowForm" user-tracked-table-row="row">
        <td title="'Name'" filter="{name: 'text'}" sortable="'name'" ng-switch="row.isEditing" ng-class="name.$dirty ? 'bg-warning' : ''" ng-form="name" user-tracked-table-cell>
          <span ng-switch-default class="editable-text">{{row.name}}</span>
          <div class="controls" ng-class="name.$invalid && name.$dirty ? 'has-error' : ''" ng-switch-when="true">
            <input type="text" name="name" ng-model="row.name" class="editable-input form-control input-sm" required />
          </div>
        </td>
        <td title="'Description'" filter="{description: 'text'}" sortable="'description'" ng-switch="row.isEditing" ng-class="description.$dirty ? 'bg-warning' : ''" ng-form="description" user-tracked-table-cell>
          <span ng-switch-default class="editable-text">{{row.description}}</span>
          <div class="controls" ng-class="description.$invalid && description.$dirty ? 'has-error' : ''" ng-switch-when="true">
            <input type="text" name="description" ng-model="row.description" class="editable-input form-control input-sm" required />
          </div>
        </td>
        <!-- <td title="'Delivery_schedule'" filter="{delivery_schedule: 'text'}" sortable="'delivery_schedule'" ng-switch="row.isEditing" ng-class="delivery_schedule.$dirty ? 'bg-warning' : ''" ng-form="delivery_schedule" user-tracked-table-cell>
          <span ng-switch-default class="editable-text">{{row.delivery_schedule}}</span>
          <div class="controls" ng-class="delivery_schedule.$invalid && delivery_schedule.$dirty ? 'has-error' : ''" ng-switch-when="true">
            <input type="text" name="delivery_schedule" ng-model="row.delivery_schedule" class="editable-input form-control input-sm" required />
          </div>
        </td>
        <td title="'Products'" filter="{products: 'text'}" sortable="'products'" ng-switch="row.isEditing" ng-class="products.$dirty ? 'bg-warning' : ''" ng-form="products" user-tracked-table-cell>
          <span ng-switch-default class="editable-text">{{row.products}}</span>
          <div class="controls" ng-class="products.$invalid && products.$dirty ? 'has-error' : ''" ng-switch-when="true">
            <input type="text" name="products" ng-model="row.products" class="editable-input form-control input-sm" required />
          </div>
        </td> -->
        <td>
          <button class="btn btn-primary btn-sm" ng-click="save(row, rowForm)" ng-if="row.isEditing" ng-disabled="rowForm.$pristine || rowForm.$invalid"><span class="glyphicon glyphicon-ok"></span></button>
          <button class="btn btn-default btn-sm" ng-click="cancel(row, rowForm)" ng-if="row.isEditing"><span class="glyphicon glyphicon-remove"></span></button>
          <button class="btn btn-default btn-sm" ng-click="edit(row)" ng-if="!row.isEditing"><span class="glyphicon glyphicon-pencil"></span></button>
          <button class="btn btn-danger btn-sm" ng-click="del(row)" ng-if="!row.isEditing"><span class="glyphicon glyphicon-trash"></span></button>
        </td>
      </tr>
    </table>
  </div>
</div>

  <!-- <td data-title="'Username'" filter="{username: 'text'}" sortable="'username'">{{row.username}}</td> -->
  <!-- <td data-title="'Email'" filter="{email: 'text'}" sortable="'email'">{{row.email}}</td> -->
<!--
name : {type: String,requried: true},
         description : String,
         created_by: {type: Schema.Types.ObjectId, ref: 'User', required: true},  //should be an ObjectId, keep it simple for now
         eventDate : Date,
         active_from : Date,
         active_end : Date,
         cancellable : Boolean,
         img_url: String,
         delivery_schedule : [{
         location : String,
         arrival_time : Date
         }],
         vendor: {type: Schema.Types.ObjectId, ref: 'Vendor'},
         products : [{
         product_id : { type: Schema.Types.ObjectId, ref: 'Product' },
         product_vid : { type: Schema.Types.ObjectId, ref: 'Product.details'},
         unit_price : Number,
         num_sold: Number
         }]
-->

</div>


<!-- EDIT FORM -->
<div class="col-md-5">
  <form class="form-horizontal">
  <fieldset>


  <!-- change col-sm-N to reflect how you would like your column spacing (http://getbootstrap.com/css/#forms-control-sizes) -->


  <!-- Form Name -->
  <legend>Event Details</legend>

  <!-- Text input http://getbootstrap.com/css/#forms -->
  <div class="form-group">
    <label for="name" class="control-label col-sm-2">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" placeholder="" ng-model="selectedRow.name">

    </div>
  </div>
  <!-- Textarea http://getbootstrap.com/css/#textarea -->
  <div class="form-group">
    <label class="control-label col-sm-2" for="description">Description</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="description" name="description" rows="3"></textarea>

    </div>
  </div>

  <!-- Text input http://getbootstrap.com/css/#forms -->
  <div class="form-group">
    <label for="eventDate" class="control-label col-sm-2">Event Date</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="eventDate" placeholder="">

    </div>
  </div>
  <!-- Text input http://getbootstrap.com/css/#forms -->
  <div class="form-group">
    <label for="active_from" class="control-label col-sm-2">Start</label>
    <div class="col-sm-10">
      <input type="datetime-local" class="form-control" id="active_from" placeholder="">

    </div>
  </div>
  <!-- Text input http://getbootstrap.com/css/#forms -->
  <div class="form-group">
    <label for="active_end" class="control-label col-sm-2">End</label>
    <div class="col-sm-10">
      <input type="datetime-local" class="form-control" id="active_end" placeholder="">

    </div>
  </div>
  <!-- Fuel UX Select http://getfuelux.com/javascript.html#selectlist -->
  <div class="form-group">
    <label class="control-label col-sm-2" for="cancellable">Cancellable</label>
    <div class="controls text-left col-sm-10">
      <div class="btn-group selectlist" data-initialize="selectlist" data-resize="auto" id="cancellable">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
          <span class="selected-label">&nbsp;</span>
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li data-value="True"><a href="#">True</a></li>
          <li data-value="False"><a href="#">False</a></li>
        </ul>
        <input class="hidden hidden-field" name="cancellable" readonly="readonly" aria-hidden="true" type="text">
      </div>

    </div>
  </div>
  <!-- File Button http://getbootstrap.com/css/#forms -->
  <div class="form-group">
    <label for="imgUpload" class="control-label col-sm-2">Cover Image</label>
    <div class="col-sm-10">
    <input type="file" id="imgUpload" name="imgUpload">

    </div>
  </div>

  <div class="form-group">
  <label class="control-label col-sm-2"></label>
    <div class="text-center col-sm-10">
      <div id="saveGroup" class="btn-group" role="group" aria-label="">
        <button type="submit" id="save" name="save" class="btn btn-info" aria-label="Save">Save</button>
        <button type="button" id="reset" name="reset" class="btn btn-danger" aria-label="Save">Reset</button>
      </div>

    </div>
  </div>

  </fieldset>
  </form>

</div>
