<h1 ng-init="getAll()">ASSET MANAGEMENT</h1>

<div class="row">
  <div class="col-md-6">
    <table ng-table="tableParams" class="table table-bordered table-hover table-condensed editable-table " ng-form="tableForm" disable-filter="isAdding" user-tracked-table="tableTracker">
      <colgroup>
        <col width="30%" />
        <col width="50%" />
        <col width="20%" />
      </colgroup>
      <tr ng-repeat="row in $data" ng-form="rowForm" user-tracked-table-row="row">
        <td title="'orig_filename'" filter="{orig_filename: 'text'}" sortable="'orig_filename'" ng-switch="row.isEditing" ng-class="orig_filename.$dirty ? 'bg-warning' : ''" ng-form="orig_filename" user-tracked-table-cell>
          <span ng-switch-default class="editable-text">{{row.orig_filename}}</span>
          <div class="controls" ng-class="orig_filename.$invalid && orig_filename.$dirty ? 'has-error' : ''" ng-switch-when="true">
            <input type="text" name="orig_filename" ng-model="row.orig_filename" class="editable-input form-control input-sm" required />
          </div>
        </td>
        <td title="'unique_filename'" filter="{unique_filename: 'text'}" sortable="'unique_filename'" ng-switch="row.isEditing" ng-class="unique_filename.$dirty ? 'bg-warning' : ''" ng-form="unique_filename" user-tracked-table-cell>
          <span ng-switch-default class="editable-text">{{row.unique_filename}}</span>
          <div class="controls" ng-class="unique_filename.$invalid && unique_filename.$dirty ? 'has-error' : ''" ng-switch-when="true">
            <input type="text" name="unique_filename" ng-model="row.unique_filename" class="editable-input form-control input-sm" required />
          </div>
        </td>
        <td title="'filetype'" filter="{filetype: 'text'}" sortable="'filetype'" ng-switch="row.isEditing" ng-class="filetype.$dirty ? 'bg-warning' : ''" ng-form="filetype" user-tracked-table-cell>
          <span ng-switch-default class="editable-text">{{row.filetype}}</span>
          <div class="controls" ng-class="filetype.$invalid && filetype.$dirty ? 'has-error' : ''" ng-switch-when="true">
            <input type="text" name="filetype" ng-model="row.filetype" class="editable-input form-control input-sm" required />
          </div>
        </td>
        <td title="'path'" filter="{path: 'text'}" sortable="'path'" ng-switch="row.isEditing" ng-class="path.$dirty ? 'bg-warning' : ''" ng-form="path" user-tracked-table-cell>
          <span ng-switch-default class="editable-text">{{row.path}}</span>
          <div class="controls" ng-class="path.$invalid && path.$dirty ? 'has-error' : ''" ng-switch-when="true">
            <input type="text" name="path" ng-model="row.path" class="editable-input form-control input-sm" required />
          </div>
        </td>
        <td title="'size'" filter="{size: 'text'}" sortable="'size'" ng-switch="row.isEditing" ng-class="size.$dirty ? 'bg-warning' : ''" ng-form="size" user-tracked-table-cell>
          <span ng-switch-default class="editable-text">{{row.size}}</span>
          <div class="controls" ng-class="size.$invalid && size.$dirty ? 'has-error' : ''" ng-switch-when="true">
            <input type="text" name="size" ng-model="row.size" class="editable-input form-control input-sm" required />
          </div>
        </td>
        <td title="'created_by'" filter="{created_by: 'text'}" sortable="'created_by'" ng-switch="row.isEditing" ng-class="created_by.$dirty ? 'bg-warning' : ''" ng-form="created_by" user-tracked-table-cell>
          <span ng-switch-default class="editable-text">{{row.created_by}}</span>
          <div class="controls" ng-class="created_by.$invalid && created_by.$dirty ? 'has-error' : ''" ng-switch-when="true">
            <input type="text" name="created_by" ng-model="row.created_by" class="editable-input form-control input-sm" required />
          </div>
        </td>
        <!--
         item.orig_filename = file.originalname;
            item.filetype = file.mimetype;
            item.unique_filename = file.filename;
            item.path = file.path;
            item.size = Number(file.size);
            item.created_by = user._id;
            -->
        <td>
          <button class="btn btn-primary btn-sm" ng-click="save(row, rowForm)" ng-if="row.isEditing" ng-disabled="rowForm.$pristine || rowForm.$invalid"><span class="glyphicon glyphicon-ok"></span></button>
          <button class="btn btn-default btn-sm" ng-click="cancel(row, rowForm)" ng-if="row.isEditing"><span class="glyphicon glyphicon-remove"></span></button>
          <button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing"><span class="glyphicon glyphicon-pencil"></span></button>
          <button class="btn btn-danger btn-sm" ng-click="del(row)" ng-if="!row.isEditing"><span class="glyphicon glyphicon-trash"></span></button>
        </td>
      </tr>
    </table>


  </div>


  <!-- <td data-title="'Username'" filter="{username: 'text'}" sortable="'username'">{{row.username}}</td> -->
  <!-- <td data-title="'Email'" filter="{email: 'text'}" sortable="'email'">{{row.email}}</td> -->


</div>
